
<div class="row">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Liste des cycles</h1>
        </div>
        <div class="col-md-4">
            <app-boutton-action
                (clickEvent)="nouveauCycle()"
            ></app-boutton-action>
        </div>
    </div>

    <div class="col m-3" style="max-height: 550px; overflow-y:scroll;">
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
        <app-detail-cycle></app-detail-cycle>
    </div>

    <div class="row text-center">
        <app-pagination></app-pagination>
    </div>

</div>

