<div class="col m-lg-2 ">
  
    <div class="col-md-12">
        <div class="col-md-12 ">
            <h2><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Informations sur la leçon</h2>
        </div>


        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Titre de la leçon</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Nom du chapitre</mat-label>
                <input matInput>
            </mat-form-field>  
        </div>

        <div class="row">
            <mat-form-field class="col-md-12">
                <mat-label>Description</mat-label>
                <input matInput>
            </mat-form-field>  
        </div>
    </div>
  
    <div class="col-md-12 text-end ">
        <button class="btn btn-danger" (click)="cancel()">
            <i class="fa-solid fa-ban"></i>&nbsp;
            Annuler
        </button>
  
        <button class="btn btn-primary m-lg-3">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp;
            Enregistrer
        </button>
    </div>
  </div>
  
  