<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <mat-form-field class="col-md-12">
                        <mat-label>Rechercher un parent ici</mat-label>
                        <input #searchBox 
                        (keyup)="search(searchBox.value)" matInput>
                    </mat-form-field>
                   
                    <div class="collection">
                        <a 
                            *ngFor="let parent of parent$ | async"
                            (click)="goToDetail(parent)"
                            class="collection-item"
                        >
                            {{ parent.nom }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

