<div class="row mb-1 mr-0 custom-border">
    <!-- <div class="custom-border-right col-md-1 p-1 text-center mb-1 mt-1 ">
        <img class="rounded-circle" src="assets/profile.jpg" width="80px" height="80px">
    </div> -->

    <!--details eleve-->
    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="">
            <div class="row">
                <div><i class="fa-solid fa-ranking-star blue-color"></i>&nbsp;Nom du niveau</div>
            </div>
            <div class="row mt-2 ">
                <div><i class="fa-solid fa-ranking-star blue-color"></i>&nbsp;Cycle</div>
            </div>
            <div class="row mt-2 ">
                <div><i class="fa-solid fa-calendar blue-color"></i>&nbsp;Année scolaire</div>
            </div>
        </div>
    </div>

    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="">
            <div class="row">
                <div><i class="fa-solid fa-align-justify blue-color"></i>&nbsp;Description</div>
            </div>
            <div class="row mt-2 ">
                <div><i class="fa-solid fa-house blue-color"></i>&nbsp;Liste des classes</div>
            </div>
        </div>
    </div>

    <!--Boutons d'action-->
    <div class="col-md-2 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none">
                    <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button>
            </div>
            <!-- <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none ">
                    <i class="fa-solid fa-table-list"></i>&nbsp;Détails
                </button>
            </div>     -->
        </div>
    </div>
</div>