<div class="row mb-1 mr-0 custom-border">
    <!-- <div class="custom-border-right col-md-1 p-1 text-center mb-1 mt-1 ">
        <img class="rounded-circle" src="assets/profile.jpg" width="80px" height="80px">
    </div> -->

    <!--details eleve-->
    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class=""><i class="fa-solid fa-circle-user blue-color"></i>&nbsp; Nom</div>
                <div class=""></div>
            </div>
            <div class="row mt-2 ">
                <div class=""><i class="fa-solid fa-circle-user blue-color"></i>&nbsp; Niveau</div>
                <div class=""></div>
            </div>
            <div class="row mt-2">
                <div class=""><i class="fa-solid fa-s blue-color"></i>&nbsp; Spécialité</div>
                <div class=""></div>
            </div>
            <div class="row mt-2">
                <div class=""><i class="fa-solid fa-person-chalkboard blue-color"></i>&nbsp; Enseignant</div>
                <div class=""></div>
            </div>
            <div class="row mt-2">
                <div class=""><i class="fa-solid fa-landmark blue-color"></i>&nbsp; Salle de classe</div>
                <div class=""></div>
            </div>
        </div>
    </div>

    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class=""><i class="fa-solid fa-calendar-days blue-color"></i>&nbsp; Date du cours</div>
                <div class=""></div>
            </div>
            <div class="row mt-2">
                <div class=""><i class="fa-solid fa-clock blue-color"></i>&nbsp; Heure début</div>
                <div class=""></div>
            </div>
            <div class="row mt-2">
                <div class=""><i class="fa-solid fa-clock blue-color"></i>&nbsp; Heure fin</div>
                <div class=""></div>
            </div>
            <div class="">
                <div class=""><i class="fa-solid fa-person blue-color"></i>&nbsp; Liste des élèves</div>
                <div class=""></div>
            </div>
        </div>
    </div>


    <!--Boutons d'action-->
    <div class="col-md-2 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none">
                    <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button>
            </div>
            <!-- <div class="col-md-4">
                <button type="button" class="btn btn-link text-decoration-none ">
                    <i class="fa-solid fa-table-list"></i>&nbsp;Détails
                </button>
            </div>     -->
        </div>
    </div>
</div>