<div class="col m-lg-2 ">
  
    <div class="col-md-12">
        <div class="col-md-12 ">
            <h2><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Informations sur la matière</h2>
        </div>


        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Nom de la matière</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Niveau d'enseignement</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="col-md-2">
                <mat-label>Nombre de crédit</mat-label>
                <input matInput>
            </mat-form-field> 
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Description de la matière</mat-label>
                <textarea matInput placeholder="Ex. Cette matière concue pour le niveau..."></textarea>
              </mat-form-field>
        </div>
    </div>
  
    <div class="col-md-12 text-end ">
        <button class="btn btn-danger" (click)="cancel()">
            <i class="fa-solid fa-ban"></i>&nbsp;
            Annuler
        </button>
  
        <button class="btn btn-primary m-lg-3">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp;
            Enregistrer
        </button>
    </div>
  </div>
  
  