<div class="row mb-1 mr-0 custom-border" *ngFor="let personnel of personnelList">
    <div class="custom-border-right col-md-1 p-1 text-center mb-1 mt-1 ">
        <img class="rounded-circle" [src]="personnel.picture" width="80px" height="80px">
    </div>

    <!--details eleve-->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-user blue-color"></i></div>
                <div class="col-md-11"><b>Nom</b> &nbsp; {{personnel.nom}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-circle-user blue-color"></i></div>
                <div class="col-md-11"><b>Prénom</b> &nbsp; {{personnel.prenom}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-certificate blue-color"></i></div> 
                <div class="col-md-11"><b>Email</b> &nbsp; {{personnel.email}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-person-digging blue-color"></i></div>
                <div class="col-md-11"><b>Profession</b> &nbsp; {{personnel.profession}}</div>
            </div>
            
        </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-genderless blue-color"></i></div>
                <div class="col-md-11"><b>Sexe</b> &nbsp; {{personnel.sexe}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-certificate blue-color"></i></div> 
                <div class="col-md-11"><b>Diplome</b> &nbsp; {{personnel.diplome}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-cake-candles blue-color"></i></div>
                <div class="col-md-11"><b>Date naissance</b> &nbsp; {{personnel.dateNaiss | date:"dd/MM/yyyy"}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-location-dot blue-color"></i></div>
                <div class="col-md-11"><b>Lieu naissance</b> &nbsp; {{personnel.lieuNaiss}}</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-genderless blue-color"></i></div>
                <div class="col-md-11"><b>Type contrat</b> &nbsp; {{personnel.typeContrat}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
                <div class="col-md-11"><b>Téléphone</b> &nbsp; {{personnel.telephone}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1"><i class="fa-solid fa-location-dot blue-color"></i></div>
                <div class="col-md-11"><b>Adresse</b> &nbsp; {{personnel.adresse}}</div>
            </div>
        </div>
    </div>


    <!--Boutons d'action-->
    <div class="col-md-2 mb-1 mt-1">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-link text-decoration-none" 
                        (click)="detailPersonnel(personnel!)">
                    <i class="fa-solid fa-table-list"></i>&nbsp;Détails
                </button>
            </div>  

            <div class="col-md-3">
                <button type="button" class="btn btn-link text-decoration-none">
                    <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
                </button>
            </div>

            <div class="col-md-4 ms-2">
                <button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment supprimer ce personnel ?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" 
                                data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i>&nbsp;Annuler
                            </button>
                            <button type="button" (click)="deletePersonnel(personnel)" routerLink="/dashboard/personnels" 
                                class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>