.example-form {
    min-width: 150px;
    max-width: 500px;
    width: auto;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
  }

  .my-container{
    margin-top: 200px;
    max-width: 500px;
  }

  .btn-link{
    text-decoration: none;
  }
  .btn-link:hover{
    text-decoration: underline;
  }
