<div class="container my-container">

  <div class="card justify-content-md-center">
    <div class="card-body ">

      <div class="card-header text-white text-center bg-secondary "><h1>Se connecter</h1></div>
        <br>
        <p><em>{{message}}</em></p>

          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label for="email">Adresse email</mat-label>
                  <input matInput
                      placeholder="pat@example.com"
                      [formControl]="email"
                      [(ngModel)]="adresse"
                      (blur)="updateErrorMessage()"
                      required>
                  @if (email.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                  }
              </mat-form-field>  
           </div> 
            
           <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label for="password">Enter your password</mat-label>
              <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
           </div> 
        

         <div class="d-flex justify-content-between ">
          <a [routerLink]="['/inscrire']" class="btn btn-link">S'inscrire</a>

          <button type="button" class="btn btn-info" (click)="login()" *ngIf="!auth?.isLoggedIn" >
            <i class="fa-solid fa-check"></i>&nbsp; Se connecter</button>
         </div>
      
    </div>
  </div>

</div>
