
<div class="row mb-1 mr-0 custom-border m-2"> 
   
    <div class="custom-border-right col-md-1 p-1 text-center mb-1 mt-1" *ngIf="personnel">
        <img class="rounded-circle" [src]="personnel.picture" width="80px" height="80px">
    </div> 

    <div class="row m-2" *ngIf="personnel">
        <div class="card col-md-6" >
            <h2 class="bg-info text-center ">Informations personnelles</h2>
                <table class="table">
                    <tbody>
                       
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{personnel.nom}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td>{{personnel.prenom}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{personnel.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sexe</th>
                            <td>{{personnel.sexe}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Téléphone</th>
                            <td>{{personnel.telephone}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Adresse</th>
                            <td>{{personnel.adresse}}</td>
                        </tr> 
                        <tr>
                            <th scope="row">Date de naissance</th>
                            <td>{{personnel.dateNaiss | date:"dd/MM/yyyy"}}</td>
                        </tr> 
                        <tr>
                            <th scope="row">Lieu de naissance</th>
                            <td>{{personnel.lieuNaiss}}</td>
                        </tr> 
                    </tbody>
                </table>
        </div>
    
        <div class="card col-md-6 ">
            <h2 class="bg-info text-center ">Informations sur la profession</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Profession</th>
                            <td>{{personnel.profession}}</td>
                        </tr> 
                        <tr>
                            <th scope="row">Diplome</th>
                            <td>{{personnel.diplome}}</td>
                        </tr> 
                        <tr>
                            <th scope="row">Nationalité</th>
                            <td>{{personnel.nationalite}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type de contrat</th>
                            <td>{{personnel.typeContrat}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Début de contrat</th>
                            <td>{{personnel.debutContrat|date:"dd/MM/yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
</div>

</div>

<div class="">

    <div class="col">
        <button class="btn btn-info m-3" (click)="goToPersonnelPage()">
            <i class="fa-solid fa-circle-chevron-left"></i>
            Liste du personnel
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
        </button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce personnel ?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i>&nbsp;Annuler
                </button>
                <button type="button" (click)="deletePersonnel(personnel!)"  
                    class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button>
                </div>
            </div>
        </div>
    </div>
    
</div>



